---
import * as prismic from "@prismicio/client";
import Layout from "../../../components/Layout.astro";
import { prismicClient } from "../../../prismic"

const previewCookie = Astro.cookies.get("io.prismic.preview").value;

if (!previewCookie) {
  return Astro.redirect("/404");
}

// https://docs.astro.build/en/guides/routing/#server-ssr-mode
const { slug } = Astro.params
const posts = await prismicClient.getAllByType('essay', {ref: previewCookie})

const page = posts.find((post) => post.id === slug);
if (!page) return Astro.redirect("/404");

console.log(page.data.body1[0])
---

<Layout>
    <Fragment set:html={prismic.asHTML(page.data.title)} />
      
    <img src={prismic.asImageSrc(page.data.cover)} />
    
    {page.data.body1.map((slices)=>{
        if (slices.slice_type === "grid_row") {
            return (
                <p>Grid Row Type</p>
            )
        } else (
            <p>Not a type</p>
        )
    })}
</Layout>
