---
export const prerender = true;

import * as prismic from "@prismicio/client";
import { getAllEssays } from "../../prismic";
import Layout from "../../components/Layout.astro";

export async function getStaticPaths() {
    const essays = await getAllEssays();
    return essays.map((essay) => ({
        params: { slug: essay.uid },
        props: essay,
    }));
}

const essay = Astro.props;

console.log(essay.data.body1[0])
---

<Layout>
    <Fragment set:html={prismic.asHTML(essay.data.title)} />
    
    <img src={prismic.asImageSrc(essay.data.cover)} />
    
    {essay.data.body1.map((slices)=>{
        if (slices.slice_type === "grid_row") {
            return (
                <p>Grid Row Type</p>
            )
        } else (
            <p>Not a type</p>
        )
    })}
    <!-- <Fragment set:html={prismic.asHTML(essay.data.body1)} /> -->
    <!-- <Fragment set:html={prismic.asHTML(essay.data.body1)} /> -->
</Layout>
